

#container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    #hostForm{
        display: flex;
        flex-direction: column;
        width: 80%;
        #buttonContainers{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
    }
    #copyNGo{
        .MuiFormControl-root.MuiTextField-root.css-12z7npj-MuiFormControl-root-MuiTextField-root{
            width: 100%;
        }
    }
    #copyNGo > button{
        width: 100%;
    }
}




@media (orientation :"landscape") {
    #container{
        gap: 5vh;
        #copyNGo{
            padding-top: 3rem;
            .MuiFormControl-root.MuiTextField-root.p-0.css-12z7npj-MuiFormControl-root-MuiTextField-root{
                padding-top: 0px;
            }
            button{
                width:fit-content ;
                height: fit-content;
            }
        }
    }
}