
@font-face {
    font-family: "bebas";
    src: url("./assets/fonts/bebas.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


div.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    font-family: inherit;
    font-weight: inherit;
}

div.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root > input{
    text-align: center;
}
