
@font-face {
    font-family: "bebas";
    src: url("./assets/fonts/bebas.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


div.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    font-family: inherit;
    font-weight: inherit;
}

div.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root > input{
    text-align: center;
}

div > #part.css-hsdl99-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #15bab3;
}
div > #chattTogg.css-15qw4ar-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #15bab3;
}